$red:              #C25B02;
$orange:           #DEA158;
$transparent:      rgba(69, 66, 57, 0.8);
$transparent2:     rgba(69, 66, 57, 0.4);
$white:            #e4dbbf;
$black:            #454239;

body {
  background: -webkit-linear-gradient(left, $red, $orange);
  background: linear-gradient(to right, $red, $orange);
  font-family: 'Helvetica', sans-serif;
}

h1, p {
  text-align: center;
  color: $black;
  margin: 0;
}

h1 {
  margin-top: 30px;
}

section {
  margin: 25px 50px 50px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: $transparent;
 }

.tbl-content {
  height: 440px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid $transparent;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
}

.id {
  width: 5%;
}

.film {
  width: 31%;
}

.stars {
  width: 7%;
}

.rating {
  width: 7%;
}

.votes {
  width: 10%;
}

.create {
  width: 20%;
}

.update {
  width: 20%;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: $white;
  background-color: $transparent2;
  border-bottom: solid 1px $transparent2;
}
